header {
    color: red;
    font-size: 45px;
    text-align: center;
    font-weight: 900;
}

main {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

body {
    background-color: #8EEA1C;
}

.btn {
    text-decoration: none;
    font-size: 25px;
    border: 2px solid black;
    padding: 10px 15px;
    border-radius: 15px;
    color: white;
    background-color: rgb(22, 33, 180);
    text-align: center;
    letter-spacing: 2px;
}

.btn:hover {
    background-color: rgb(41, 98, 173);
}