* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* nadpis */
h1 {
    border: 5px solid red;
    padding: 20px;
    margin: 20px 400px;
    width: 150px;
    box-sizing: border-box;
}
/* text */
p {
    font-size: x-large;
    font-weight: bold;
}
